---
http_interactions:
- request:
    method: post
    uri: https://sms-api.aossms.com/p1/api/shortenurl.json
    body:
      encoding: US-ASCII
      string: token=580252cead236502fe58b40c7d6c7388&clientId=1111&longUrl=https%3A%2F%2Fsome.long-url.com%2Fhoge%2Fhuga%2Fpiyo%2Fasdfasdfasdfasdfasdf
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseCode":0,"responseMessage":"Success.","shortUrl":"https://ai9.jp/ohcO9a","name":"Shorturl-20220922113726412"}'
  recorded_at: Thu, 22 Sep 2022 02:37:26 GMT
recorded_with: VCR 6.1.0
